<html>
<head>
    <title>PDash</title>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/jquery-3.4.1.min.js"></script>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <script src="../js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url(images/hero_1.jpg) !important;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body ng-app="Dashboard" ng-controller="myController">
    <div class="container">
        <br>
        <h1>Cloned Repo zitry</h1>
        <sm>{{userInfo}}</sm> <a class="btn btn-outline-warning" href="Login.html">Log Out</a>
        <h2>Booking Records</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btnEmpty" ng-click="displayForAdd()">Add New Record</button>
        <a type="button" style="margin-left:5%" class="btn btn-secondary" id="btnBooking" href="PDashboard.html">Go To Packages</a>
        <a type="button" style="margin-left:5%" class="btn btn-secondary" id="btnPackage" href="TDashboard.html">Go To Tourists</a><br /><br />

        <table class="table table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">BookingId</th>
                    <th scope="col">Tourist</th>
                    <th scope="col">Package</th>
                    <th scope="col">BookingDate</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody id="tabcontent">
                <tr ng-repeat="x in data">
                    <td>{{ x.BookingId }}</td>
                    <td>{{ x.Tourist }}</td>
                    <td>{{ x.Package }}</td>
                    <td>{{ x.BookingDate }}</td>
                    <td><a href="#" data-toggle="modal" data-target="#myModal" ng-click="displayForUpdate(x)">Edit</a> | <a href="#" data-toggle="modal" data-target="#myModal" ng-click="displayForRemove(x)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{operation}}</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label for="BookingId">ID</label>
                            <input type="text" class="form-control" ng-model="BookingId" placeholder="Booking ID" />
                        </div>
                        <div class="form-group">
                            <label for="Tourist">Tourist</label>
                            <input type="text" class="form-control" ng-model="Tourist" placeholder="Tourist ID" />
                        </div>
                      
                        <div class="form-group">
                            <label for="Package">Package</label>
                            <input type="text" class="form-control" ng-model="Package" placeholder="Package ID" />
                        </div><div class="form-group">
                            <label for="BookingDate">Booking Date</label>
                            <input type="text" class="form-control" ng-model="BookingDate" placeholder="Booking Date" />
                            
                            <hr>
                        <center>
                        <button type="button" class="btn btn-success" data-target="myModal" data-dismiss="modal" ng-click="addNewRecord()" id="btnAdd">Add</button>
                        <button type="button" class="btn btn-danger" data-bind="myModal" data-dismiss="modal" ng-click="deleteRecord()" id="btnDelete">Delete</button>
                        <button type="button" class="btn btn-primary" data-bind="myModal" data-dismiss="modal" ng-click="updateRecord()" id="btnUpdate">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </center>
                        </div>
                </div>
               
            </div>
        </div>
       
    </div>
    <script>
		var myApp = angular.module('Dashboard', []);
					myApp.controller("myController", function ($scope, $http) {
						$scope.displayForAdd=function(){
							$scope.operation="Add New Record";
							$("#btnDelete").hide();
							$("#btnUpdate").hide();
						}
						$scope.displayForUpdate = function (value) {
							$scope.operation="Update Record";
							$scope.BookingId=value.BookingId;
                            $scope.Tourist = value.Tourist;
                            $scope.Package=value.Package;
                            $scope.BookingDate = value.BookingDate;
							$("#btnDelete").hide();
							$("#btnAdd").hide();
						}
						$scope.displayForRemove = function (value) {
							$scope.operation="Remove Record";
                            $scope.BookingId=value.BookingId;
                            $scope.Tourist = value.Tourist;
                            $scope.Package=value.Package;
                            $scope.BookingDate = value.BookingDate;
                            $("#btnUpdate").hide();
                            $("#btnAdd").hide();
						}
                        $scope.addNewRecord = function () {
                            var booking = {
                                "Id": $scope.BookingId,
                                "Tourist": $scope.Tourist,
                                "Package":  $scope.Package,
                                "Date": $scope.BookingDate
                            };
                            ///////////Add RECORD/////////////////
                            var req = {
                                method: 'POST',
                                url: '/api/bookings/',
                                data: booking,
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8',
                                    'Accept': 'application/json',
                                    'Authorization': 'bearer ' + localStorage.getItem('token')
                                }
                            }
                            //data, status, headers, config
                            $http(req).then(function (response) { $scope.data = response.data; resetOptions(); },
                                        function (response) { alert("failed " + JSON.stringify(response)); });
                            /////////////////////////////////////////
                        }
						$scope.deleteRecord=function(){
                             ///////////Add RECORD/////////////////
                            var req = {
                                method: 'DELETE',
                                url: '/api/bookings/'+$scope.BookingId,
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8',
                                    'Accept': 'application/json',
                                    'Authorization': 'bearer ' + localStorage.getItem('token')
                                }
                            }
                            //data, status, headers, config
                            $http(req).then(function (response) { $scope.data = response.data; resetOptions(); },
                                        function (response) { alert("failed " + response.status); });
                            /////////////////////////////////////////
						}
                        $scope.updateRecord = function () {
                            var booking = {
                                "Id": $scope.BookingId,
                                "Tourist": $scope.Tourist,
                                "Package":  $scope.Package,
                                "Date": $scope.BookingDate
                            };
                            ///////////UPDATE RECORD/////////////////
                            var req = {
                                method: 'PUT',
                                url: '/api/bookings/'+$scope.BookingId,
                                data: booking,
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8',
                                    'Accept': 'application/json',
                                    'Authorization': 'bearer ' + localStorage.getItem('token')
                                }
                            }
                            //data, status, headers, config
                            $http(req).then(function (response) { $scope.data = response.data; resetOptions(); },
                                        function (response) { alert("failed " + response.status); });
                            /////////////////////////////////////////
                        }
						resetOptions=function(){
							$("#btnDelete").show();
							$("#btnAdd").show();
							$("#btnUpdate").show();
                        }
                        /////////////////////////CODE TO BE EXEWCUTED ON PAGE LOAD////////////////////////////////
						//code that executes on page load without call
                        var req = {
                            method: 'GET',
                            url: '/api/bookings',
                            headers: {
                                'Content-Type': 'application/json; charset=utf-8',
                                'Accept': 'application/json',
                                'Authorization': 'bearer ' + localStorage.getItem('token')
                            }
                        }
                        //data, status, headers, config
                        $http(req).then(function (response) { $scope.data = response.data; },
                                        function (response) { alert("failed " + response.status); });
                         var req = {
                            method: 'GET',
                            url: '/api/account/UserInfo',
                            headers: {
                                'Content-Type': 'application/json; charset=utf-8',
                                'Accept': 'application/json',
                                'Authorization': 'bearer ' + localStorage.getItem('token')
                            }
                        }
                        //data, status, headers, config
                        $http(req).then(function (response) { alert(JSON.stringify(response.data.Email)); $scope.userInfo = response.data.Email; },
                                        function (response) { alert("failed " + response.status); });
                       
                    });
    </script>
</body>
</html>
